$background: #A4BC92;
$background-modal: #C7E9B0;
$button-hover: #FFD966;
$link-navegacao: #6096B4;
$sombra-fraca: rgba(0, 0, 0, 0.4);
$sombra-media: rgba(0, 0, 0, 0.8);
$sombra-forte: rgba(0, 0, 0, 1);
$ff-inter: 'Inter', sans-serif;